html{
  font-size:18px;
  font-family:Helvetica,sans-serif;

}
.container {
  max-width:960px;
  margin: 0 auto;
}
div{
  display:block;
}
.company{
  background-color: black;
  color:white;
  display:flex;
  align-items: center;
  padding-left: 0.66rem 0;
}
.company .container img {
  height:1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;

}
.company .container span{
  float:right;
  align-items: left;
  padding-right: 0.66rem 0;
  text-align: left;
}
.main-banner{
  height:25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
  width:20rem;
  top:9rem;
  padding:2rem 3rem;
  background-color: black;
  color: white;
  position: relative;
}
h4,h1{
  font-weight:bold;
}
.headline h4{
  font-size: 1rem;

}
.headline h1{
  font-size:2rem;
  padding-top:0.25rem;
}
nav {
  background-color: firebrick;
  color:white;
}
nav ul{
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding:1rem 0;
  list-style: none;
}
.mobile-nav{
  display:none;
}

.products{
  display:flex;
  justify-content:space-between;
  margin:3rem 0 0 0;
}

.product{

  width: 30%;

}
.product-image{
  border: 4px solid black;
  padding:2rem 0;
  height:9rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.product-image img{
  max-width:8rem;
}
.img{
  border-style: none;
}
.description{
  display:block;
  background-color: black;
  color:white;
  text-align:center;
  padding:0.5rem;
}
.business-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
.info {
  width:35%;
}
.info span {
  padding: 0.5rem 0 0 0;
}
.info .title{
  display:block;
  background-color:black;
  color:white;
  padding: 1rem 2rem;
}
footer{
  display:flex;
  background-color: black;
  color:white;
  height: 5rem;
  margin-top: 4rem;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width:1024px)
{

  nav ul {
  display:none;
}
  .mobile-nav{
    display:block;
    text-align:center;
  }
  .product{
    width:47%;
  }
  .product.glasses{
    display:none;
  }
  .info{
    width:35%;
  }
}
@media only screen and (max-width:470px)
{

  .products{
    justify-content: center;
  }
  .product {
    width:90%;

  }
  .product.watch{
    display:none;
  }
  .info{
    width:90%;
    margin-top:0.5rem;
  }
  .business-info{
    flex-wrap: wrap;
    justify-content: center;
  }
  .headline{
    top:11rem;
    padding:1rem 2rem;
  }
  .main-banner{
    height:15rem;
  }


  h4{
    font-size: 0.77rem;
  }
  h1{
    font-size:1rem;
  }


  footer{
    justify-content: center;
  }
}
